
@{
    ViewBag.Title = "Form";
}

<h2>Form</h2>

<form action="Insert" method="post">
    <label>Enter your id</label>
    <input type="number" name="id" /> <br />
    <label>Enter your name</label>
    <input type="text" name="uname" /> <br />
    <label>Enter your address</label>
    <input type="text" name="address" /> <br />
    <input type="submit" value="Insert" />
</form>