
<div class="form-group">
    @Html.Label("Email ID", new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.TextBox("email", null, new { @class = "form-control" })
    </div>
</div>  